@import 'tailwindcss';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton';

/* AAVEGOTCHi custom font for branding (src/font/) */
@font-face {
	font-family: 'AAVEGOTCHi';
	src: url('./font/AAVEGOTCHi_FONT_V1.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.font-aavegotchi {
	font-family: 'AAVEGOTCHi', system-ui, sans-serif;
	letter-spacing: 0.02em;
	line-height: 1.2;
}

/* Section headings with AAVEGOTCHi font (use with lowercase text) */
.h2-aavegotchi {
	font-family: 'AAVEGOTCHi', system-ui, sans-serif;
	text-transform: lowercase;
}

/* Import all Skeleton themes */
@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/crimson';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/legacy';
@import '@skeletonlabs/skeleton/themes/mint';
@import '@skeletonlabs/skeleton/themes/modern';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/nouveau';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/reign';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/themes/rose';
@import '@skeletonlabs/skeleton/themes/sahara';
@import '@skeletonlabs/skeleton/themes/seafoam';
@import '@skeletonlabs/skeleton/themes/terminus';
@import '@skeletonlabs/skeleton/themes/vintage';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/wintry';
@import '$lib/blackpink.css';
@import '$lib/bol.css';

/* Configure Tailwind dark mode to use data attribute strategy */
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

/* stylelint-disable-next-line at-rule-no-unknown */
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* Global overflow protection */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* Prevent any element from causing horizontal overflow */
* {
  box-sizing: border-box;
}

/* Container overflow protection */
.container {
  max-width: 100%;
}


